<!doctype html>
<html lang="en">
<head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!--Tab text-->
    <title>Predictive Inventory</title>

    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

    {{ plot_script|indent(4)|safe }}

</head>
<body>
<!-- A simple form for changing the graph -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<div class="container">
    <!-- Content here -->

    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="">
            <img src="https://w7kuoa.dm2302.livefilestore.com/y4mT1moMDTtnafdZPiQVmwbt8j6Mw5nXSWI6cUwctzQbmlElB0wl-WQNOo1zbl4PKGelEWS-asCeyKwvQuyciO42MmXnO2p9x6f8KazP8-YuOgV0767C7TOyEPZKibefXKTqQmfgpwkdcxhMCQJ3k81aspvbDlZA-tUuJ_Rh2JCK-UUDJTmqCTPqjGPCFuTN9lmX1G1CgoniGj5M9OLNnMSIA?width=85&height=65&cropmode=none" width="41" height="30" border='3' class="d-inline-block align-top" alt="">
            Predictive Inventory Management
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/tracker">Tracker <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Alerts</a>
                </li>
            </ul>
        </div>
    </nav>



    <div class="row">

        <div class="d-flex flex-column">
          <div class="p-2"></div>
          <div class="p-2"></div>
          <div class="p-2"></div>
        </div>

    </div>

    <div class="row">

        <div class="col-3">

            <div class="row">

                <div class="col offset-md-1">
                    <form name="form" action="" method="POST">
                        <div class="form-group">
                            <label for="hospital_dropdown">Hospital</label>
                            <select class="form-control" id="hospital_dropdown" name="hospital">
                                {% for hospital in hospitals %}
                                    <option name='hospital' value="{{hospital}} ">{{hospital}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="product_dropdown">Product</label>
                            <select class="form-control" id="product_dropdown" name="product">
                                {% for product in products %}
                                    <option name='product' value="{{product}} ">{{product}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <input class="btn btn-primary" type="submit" value="Show">

                    </form>

                </div>

            </div>

            <div class="row align">

                <div class="d-flex flex-column">
                  <div class="p-2"></div>
                    <div class="p-2"></div>
                    <div class="p-2"></div>


                <div class="media">
                    <img class="mr-3" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2264%22%20height%3D%2264%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16079255ea5%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16079255ea5%22%3E%3Crect%20width%3D%2264%22%20height%3D%2264%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2213.366666793823242%22%20y%3D%2236.2%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" width='64' height='64' alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Media heading</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                </div>

            </div>

        </div>

        <div class="col-9 px-4">

            {{ plot_div|indent(4)|safe }}


        </div>

    </div>

    <div class="row">

        <div class="d-flex flex-column">
          <div class="p-2"></div>
          <div class="p-2"></div>
          <div class="p-2"></div>
          <div class="p-2"></div>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <table class="table table-hover ">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Week</th>
                    <th scope="col">Hospital</th>
                    <th scope="col">Product</th>
                    <th scope="col">Units</th>
                    <th scope="col">Total Cost</th>
                </tr>
                </thead>
                <tbody>
                {% for order in future_orders %}
                <tr>
                    <th scope='row'>{{order['week']}}</th>
                    <td>{{order['hospital']}}</td>
                    <td>{{order['product']}}</td>
                    <td>{{order['mean_future']}}</td>
                    <td>{{order['cost']}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

</div>


</body>
</html>
